@import '../../../index.scss';

.btnPrimary{
    @extend .btnPrimary;
}

.listUser{
    width: 100%;
    .title {
        @extend .title;
    }
    .body{
        margin: 3px;
        border-radius: 4px;
        border: solid 1px $boder-color;
        .table{
            img{
                max-width: 60px;
                max-height: 90px;
                object-fit: contain;
            }
            td{
                color: $text-color;
            }
        }
    
        .pagination{
            @extend .pagination;
        }
            
    }

}

